select {
  -webkit-appearance: button;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png);
  background-color: #FFFFFF;
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #B22222;
  overflow: hidden;
  padding: 3px 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 154px;
  font-size: 13px;
  font-weight: 200;
  cursor: pointer;
}

#summary{
  color: #B22222;
  padding: 3px 3px;
  width: 144px;
  font-size: 13px;
  font-weight: 200;
}

#date{
  color: #B22222;
  font-size: 13px;
  font-weight: 200;
  width: 149px;
}

#create{
  margin-top:2px;
  background-color: #2199e8;
  border: none;
  color:#fefefe;
  padding:0.1875rem 0.625rem;
  cursor: pointer;
}