.eventSummary {
  color: #B22222;
  font-size: 13px;
  font-weight: 200;
  margin-top: 8px;
}

.event {
  border-top: thin #B22222
}

.delete {
  display: inline-block;
  background: white; /* W3C */
  border: 1px solid #a1a1a1;
  font: bold 1em/2em Arial, Helvetica;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}